<div>
    <h3>INDUMENTARIA</h3>
    <span class="etiqueta fondoRojo">INFO</span>

    <div class="contenedorGeneral d-flex justify-content-center">
        <div class="contenedorInfo d-flex mt-3" >
            <div class="col-lg-12 d-flex gap-3 flex-wrap justify-content-center">
              
                <div class="col-lg-2 col">
                  <label for="selectAnios">Años</label>
                  <select id="selectAnios"  class="form-select multiselect" multiple  name="anios" style="width: 100%;">
                  </select>
               </div>
               <div class="col-lg-2">
                <label for="gerencias">Gerencias</label>
                <select id="gerencias"  class="form-select multiselect" multiple  name="gerencias" style="width: 100%;">
                  <option *ngFor="let item of filtroGerencia" value="{{item.value}}">{{item.vista}}</option>
                </select>
              </div>
                <div class="col-lg-2">
                    <label for="objetivo">Objetivo</label>
                    <select  id="objetivo" class="entradaSelect2" name="objetivo" style="width: 100%;"></select>
                </div>
                <div class="col-lg-2">
                    <label for="familia">Familia</label>
                    <select  id="familia" class="entradaSelect2" name="familia" style="width: 100%;"></select>
                </div>
                <div class="col-lg-2">
                    <label for="producto">Producto</label>
                    <select  id="producto" class="entradaSelect2" name="producto" style="width: 100%;"></select>
                </div>
                <div class="col-lg-2">
                    <label for="modelo">Modelo</label>
                    <select  id="modelo" class="entradaSelect2"  name="modelo" style="width: 100%;"></select>
                </div>
            </div>
            <div class="d-flex gap-3">
                <button type="button" class="btn btn-secondary" (click)="limpiarFiltros()">Limpiar filtros</button>
                <button type="button" class="btn btn-primary" (click)="onBuscar()">Filtrar</button>
            </div>
            

           
        </div>
        <div class="contenedorInfo " [ngStyle]="{'overflow':'auto', 'display': 'grid' , 'margin-bottom': '100px'}" >
            <table class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th>Año/Mes</th>
                    <ng-container *ngFor="let item of generateNumbers()">
                      <th>{{ item }}</th>
                    </ng-container>
                    <th>TOTAL</th>
                  </tr>
                </thead>
                <tbody *ngIf="data">
                    <ng-container *ngFor="let item of data">
                        <tr class="table-secondary">
                            <td>{{ item.gerencia }}</td>
                            <td *ngFor="let item of getSumatoriaMensual(item);">
                                {{item}}
                            </td> 
                          </tr>
                        <tr *ngFor="let row of item.datos" class="">
                          <td *ngFor="let item of getRowImprimible(row);">
                            {{item}}
                          </td>
                          <!-- <td>{{getSumaFila(row.datos)}}</td> -->
                        </tr>
                      </ng-container>
                </tbody>
              </table>

        </div>
    </div>

</div>