.contenedorGeneral{
    display: flex;
    justify-content: center;
}
.contenedorOferta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin-bottom: 100px;
}
::placeholder {
    text-align: center; 
}
.fondoGris{
    background-color: #D9D9D9;
}
.contenedor-flex{
    gap: 1rem;
}
.contenedor-flex div{
    flex:1
}