.contenedorGeneral{
    display: flex;
    justify-content: center;
}
.contenedorOferta{
    gap: 1rem;
    display: flex;
}
::placeholder {
    text-align: center; 
}
.fondoGris{
    background-color: #D9D9D9;
}
.contenedor-flex{
    gap: 1rem;
}
.contenedor-flex div{
    flex:1
}

@media (max-width:796px){
    .contenedorOferta{
        flex-direction: column;
        margin-bottom: 147px !important;
        width: 90%;
    }
}