<div>
    <h3>INFRACCIONES</h3>
    <div>
        <span class="etiqueta fondoRojo">INFO</span>
        <span id="boton1" class="etiqueta  fondoRojo" (click)="mostrarCantidad()">CANT</span>
        <span id="boton2"  class="etiqueta fondoGris " (click)="mostrarImporte()">VALOR</span>
    </div>
   
    <div *ngIf="data" class="contendorGeneral">
        <div class="contenedorInformacion">
            <div id="generencia"> 
                <span *ngIf="esMovil ; else espacio" class="text-white">La información se presenta en el siguiente orden: </span>
                <ng-template #espacio><p style="height: 80px"></p></ng-template>
                <p *ngFor="let item of data.gerencia">{{item}}</p>
            </div>

            <div id="importe" class="columna columna1 bg-black d-none" >
                <span>DPA</span>
                <p>INFRACCIONES<br/> GENERADAS</p>
                <table>
                    <thead>
                        <th>
                            
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data.totales">
                            <td style="text-wrap: nowrap;">
                               {{item | currency:'ARS':'symbol':'4.2-2' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div id="cant" class="columna columna1 bg-black">
                <span>DPA</span>
                <p>INFRACCIONES<br/> GENERADAS</p>
                <table>
                    <thead>
                        <th>
                            
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data.cantidades">
                            <td>
                                {{item}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="columna columna2">
                <span>OPERACIONES</span>
                <p>INFRACCIONES</p>
                <table>
                    <thead>
                        <th>
                            SIN ASIGNAR 
                        </th>
                        <th>
                            ASIGNADAS
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data.gerencia; index as i">
                            <td>
                                {{data.sinAsignar[i]}}
                            </td>
                            <td>
                                {{data.asignada[i]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="columna columna3">
                <p>CONTADURIA</p>
                <table>
                    <thead>
                        <th>
                            COBRADAS
                        </th>
                        <th>
                            PENDIENTES
                        </th>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let item of data.gerencia; index as i">
                            <td>
                                {{data.cobrada[i]}}
                            </td>
                            <td>
                                {{data.pendiente[i]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <div class="columna columna4 bg-black d-none">
                <span>STATUS</span>
                <table>
                    <thead>
                        <th>
                            
                        </th>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>
                               GRAFICO
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <span style="color: white;">INFRACCIONES generadas, Informadas y Cobradas YTD</span>
        </div>

        
       
    
    
    
    <app-footer class="footer"></app-footer>
</div>
