<app-header></app-header>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button
      class="nav-link active gris1"
      id="nav-perfil-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-perfil"
      type="button"
      role="tab"
      aria-controls="nav-perfil"
      aria-selected="true"
    >
      Perfil
    </button>
    <button
      class="nav-link gris2"
      id="nav-operaciones-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-operaciones"
      type="button"
      role="tab"
      aria-controls="nav-operaciones"
      aria-selected="false"
    >
      Operaciones
    </button>
    <button
      class="nav-link gris3"
      id="nav-indumentaria-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-indumentaria"
      type="button"
      role="tab"
      aria-controls="nav-indumentaria"
      aria-selected="false"
    >
      Indumentaria
    </button>
    <button
      class="nav-link gris4"
      id="nav-capacitaciones-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-capacitaciones"
      type="button"
      role="tab"
      aria-controls="nav-capacitaciones"
      aria-selected="false"
    >
      Capacitaciones
    </button>
    <button
      class="nav-link gris5"
      id="nav-credenciales-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-credenciales"
      type="button"
      role="tab"
      aria-controls="nav-credenciales"
      aria-selected="false"
    >
      Credenciales
    </button>
  </div>
</nav>

<div class="contenedorGeneral tab-content">
  <!-- Perfil -->
  
    <div
        class="tab-pane  show active fondo"
        id="nav-perfil"
        role="tabpanel"
        aria-labelledby="nav-perfil-tab"
        tabindex="0"
    >
        <div class="container">
        <div class="row d-flex align-items-center">
            <div class="foto col-lg-3 d-flex flex-column align-items-center">
                <img
                    src="../../../assets/img/Rectangle282.jpg"
                    alt="Organigrama"
                    class="img-fluid bg-black foto m-4"
                    width="198"
                    height="0"
                />
                <div class="data-content">
                    <div *ngIf="empleado.estadoEmpleado == 'Activo' " class="estadoEnpleado estadoActivo"> {{ empleado.estadoEmpleado }}</div>
                    <div *ngIf="empleado.estadoEmpleado != 'Activo' " class="estadoEnpleado estadoNOActivo"> {{ empleado.estadoEmpleado }}</div>
                    <div>Estado</div>
                </div>
                
            </div>


            <div class="perfil col-lg-9  gy-5">
                <div class="row d-flex justify-content-between">
                    <div class="data-content">
                        <div class=""></div>
                        <div></div>
                    </div>
                    <div class="data-content">
                        <div class="borde-button">2</div>
                        <div>INFRACIONES</div>
                    </div>
                    <div class="data-content">
                        <div class="borde-button">5</div>
                        <div>SANCIONES</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.legajoEmpleado }}</div>
                        <div>Legajo</div>
                    </div>
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.dniempleado }}</div>
                        <div>DNI</div>
                    </div>
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.objetivoEmpleado }}</div>
                        <div>Objetivo</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.nombreEmpleado }} {{
                            empleado.apellidoEmpleado }}</div>
                        <div>Apellido y Nombre</div>
                    </div>
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.cargoEmpleado }}</div>
                        <div>Cargo</div>
                    </div>
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.fechaNascimentoEmpleado | date :
                            "dd/MM/y" }}</div>
                        <div class="text-nowrap">Fecha de Nacimento</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.telefonoEmpleado }}</div>
                        <div>Telefono Contacto</div>
                    </div>
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.turnoEmpleado }}</div>
                        <div>Turno</div>
                    </div>
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.emailEmpleado }}</div>
                        <div>E-mail</div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.codigoPostalEmpleado }}</div>
                        <div>Codigo Postal</div>
                    </div>
                    <div class="data-content">
                        <div class="borde-button">{{ empleado.direccionEmpleado }}</div>
                        <div>Direccion</div>
                    </div>
                    <div class="data-content">
                        <div class=""></div>
                        <div></div>
                    </div>
                </div>
                

            <!-- <table class="table " style="display: none;">
                <tr>
                <td>
                    <b>Apellido y Nombre:</b>{{ empleado.nombreEmpleado }} {{
                    empleado.apellidoEmpleado }}
                </td>
                <td><b>Dni:</b>{{ empleado.dniempleado }}</td>
                <td><b>Legajo:</b>{{ empleado.legajoEmpleado }}</td>
                </tr>
                <tr>
                <td>
                    <b>Fecha/Nac:</b>{{ empleado.fechaNascimentoEmpleado | date :
                    "dd/MM/y" }}
                </td>
                <td><b>Objetivo:</b>{{ empleado.objetivoEmpleado }}</td>
                <td><b>Turno:</b>{{ empleado.turnoEmpleado }}</td>
                </tr>
                <tr>
                <td><b>Telefono Contacto:</b>{{ empleado.telefonoEmpleado }}</td>
                <td><b>Cargo:</b> {{ empleado.cargoEmpleado }}</td>
                <td><b>E-mail</b> {{ empleado.emailEmpleado }}</td>
                </tr>
                <tr>
                <td><b>Dirección:</b>{{ empleado.direccionEmpleado }}</td>
                <td><b>Codigo Postal</b>{{ empleado.codigoPostalEmpleado }}</td>
                </tr>
            </table> -->
            </div>
        </div>
        </div>
    </div>
  <!-- Operaciones -->

  <div
    class="tab-pane fondo"
    id="nav-operaciones"
    role="tabpanel"
    aria-labelledby="nav-operaciones-tab"
    tabindex="1"
  >
    <!-- <div class="container">
      <div class="row">
        <div class="foto col-lg-3">
          <img
            src="../../../assets/img/Rectangle282.jpg"
            alt="Organigrama"
            class="img-fluid foto m-4"
            width="198"
            height="0"
          />
          <button type="button" class="btn btn-success">Activo</button>
          <h6>Estado</h6>
          <p>{{ empleado.nombreEmpleado }} {{ empleado.apellidoEmpleado }}</p>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-6">
              Inicio Grilla: {{ empleado.operacion.fechaInicioOperacion | date :
              "dd/MM/y" }}
            </div>
            <div class="col-lg-6">
              Final Grilla: {{ empleado.operacion.fechaFinalOperacion | date :
              "dd/MM/y" }}
            </div>
          </div>

          <div class="row">
            <div>Estilo Grilla: {{ empleado.operacion.grillaOperacion }}</div>
          </div>
        </div>
      </div>
      <ol>
        <li class="day-name"></li>
        <li
          [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
          *ngFor="let day of monthSelect; let first = first"
        >
          <span>{{ day?.value }}</span>
        </li>
      </ol>
    </div>

    <div class="botones">
      <button type="button" class="btn btn-primary m-2">Modificar</button>
      <button type="button" class="btn btn-success m-2">Guardar</button>
      <button type="button" class="btn btn-danger m-2">Borrar</button>
    </div> -->
  </div>

  <div
    class="tab-pane  fondo"
    id="nav-indumentaria"
    role="tabpanel"
    aria-labelledby="nav-operaciones-tab"
    tabindex="2"
  >

</div>

<div
    class="tab-pane  fondo"
    id="nav-capacitaciones"
    role="tabpanel"
    aria-labelledby="nav-operaciones-tab"
    tabindex="3"
  >

</div>
  
<div
    class="tab-pane  fondo"
    id="nav-credenciales"
    role="tabpanel"
    aria-labelledby="nav-operaciones-tab"
    tabindex="4"
>

</div>
  
  

</div>
<app-footer class="footer"></app-footer>
