.contenedorInfor{
  overflow: hidden;
}
.gris1{
  background-color: #D9D9D9;
  color:black;
}
.gris2{
  background-color: #B9B9B9;
  color:black;
}
.gris3{
  background-color: #908C8C;
  color:black;
}
.gris4{
  background-color: #686464;
  color:black;
}
.gris5{
  background-color: #343434;
  color:white;
}
.tab-pane{
  height: 100%;
}

#nav-perfil{
  background-color: #D9D9D9;
}
#nav-operaciones{
  background-color: #B9B9B9;
}
#nav-indumentaria{
  background-color: #908C8C;
}
#nav-capacitaciones{
  background-color: #686464;
}
#nav-credenciales{
  background-color: #343434;
}

.fondoTransparente{
  background-color: transparent;
}

.data-content{
  padding: 4px 4px;
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}
.borde-button{
  border-bottom: 2px solid black;
  height: 28px;
  text-wrap: nowrap;
}

.foto {
  border-radius: 12px;
}

.estadoEnpleado{
  padding: 4px 12px;
  border-radius: 4px;
  text-wrap: nowrap;
}
.estadoActivo{
  background-color:#72D250 ;
}
.estadoNOActivo{
  background-color: #FA3B12;
  color:white;
}


/* Estilo de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

table th[colspan="2"] {
  background-color: #666;
  color: #fff;
  cursor: pointer;
}

table th[colspan="2"]:hover {
  background-color: #444;
}

table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table th[colspan="2"]:active {
  background-color: #555;
}

.contenedorUniformes{
  margin: 1rem;
}

.fechasUniforme {
  display: flex;
  justify-content: space-between;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Estilo de las "box informativas" */
.fechasUniforme  span {
  display: block;
  text-align: center;
  margin: 4px 23px;
}

.fechasUniforme  span span:nth-child(1) {
  font-weight: bold;
  color: #333;
}

.fechasUniforme span span:nth-child(2) {
  font-size: 1.2em;
  color: #0077b6; /* Puedes ajustar el color a tu preferencia */
  margin-top: 5px;
}
.contenedorInfo{
  padding-bottom: 118px;
}

.botonCred{
  padding: 8px 12px;
  border-radius: 12px;
  margin: 4px 0;
}

.activo{
  background-color: green;
}
.inactivo{
  background-color: red;
}
.inactivoAmarillo{
  color: black;
  background-color: yellow;
}

.perfilComponente{
  border-radius: 12px;
  margin:12px 12px  0 12px;
  background-color: #D9D9D9;
}

@media(max-width : 796px){
  .contenedorInfor{
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .container{
    margin-bottom: 152px;
  }
  
  .foto{
    width: 90%;
    border-radius: 0;
  }
  .contenedorGeneral{
    width: 90%;
  }
  .data-content{
    width: 40%;
  }
  #nav-operaciones{
    margin-bottom: 200px !important;
  }
  #nav-credenciales .data-content{
    width: 50%;
  }
  .data-content{
    width: 50%;
  }
}