<app-header></app-header>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist" style="border-bottom: none;">
    <button
      class="nav-link active gris1"
      id="nav-perfil-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-perfil"
      type="button"
      role="tab"
      aria-controls="nav-perfil"
      aria-selected="true"
      (click)="toContenedor('nav-perfil')"
    >
      Perfil
    </button>
    <button
      class="nav-link gris2"
      id="nav-operaciones-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-operaciones"
      type="button"
      role="tab"
      aria-controls="nav-operaciones"
      aria-selected="false"
      (click)="toContenedor('nav-operaciones')"
    >
      Operaciones
    </button>
    <button
      class="nav-link gris3"
      id="nav-indumentaria-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-indumentaria"
      type="button"
      role="tab"
      aria-controls="nav-indumentaria"
      aria-selected="false"
      (click)="toContenedor('nav-indumentaria')"
    >
      Indumentaria
    </button>
    <!-- <button
      class="nav-link gris4"
      id="nav-capacitaciones-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-capacitaciones"
      type="button"
      role="tab"
      aria-controls="nav-capacitaciones"
      aria-selected="false"
    >
      Capacitaciones
    </button> -->
    <button
      class="nav-link gris5"
      id="nav-credenciales-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-credenciales"
      type="button"
      role="tab"
      aria-controls="nav-credenciales"
      aria-selected="false"
      (click)="toContenedor('nav-credenciales')"
    >
      Credenciales
    </button>
  </div>
</nav>
<div class="contenedorInfor" style="display: flex;margin:12px 0 0 12px;width: 98%;">

  <div class="foto col-lg-3 d-flex flex-column align-items-center p-4 perfilComponente">
    <app-perfil *ngIf="empleado" [empleado]="empleado" [imagenURL]="imagenURL"></app-perfil>
  </div>
  <div class="contenedorGeneral tab-content col-lg-9">
    <!-- Perfil -->
  
    <div
      class="tab-pane show active "
      id="nav-perfil"
      role="tabpanel"
      aria-labelledby="nav-perfil-tab"
      tabindex="0"
    >
      <div class="container">
        <div class="row d-flex align-items-center col-md-12" style="justify-content: center;">
          <div class="perfil col-md-8 gy-5" style="display: contents;">
              <div class="data-content">
                <div class="borde-button">{{ empleado.direccionEmpleado }}</div>
                <div>Direccion</div>
              </div>
              <div class="data-content">
                <div class="borde-button">0</div>
                <div>INFRACIONES</div>
              </div>
              <div class="data-content">
                <div class="borde-button">0</div>
                <div>SANCIONES</div>
              </div>
              <div class="data-content">
                <div class="borde-button">{{ empleado.legajoEmpleado }}</div>
                <div>Legajo</div>
              </div>
              <div class="data-content">
                <div class="borde-button">{{ empleado.dniempleado }}</div>
                <div>DNI</div>
              </div>
              <div class="data-content">
                <div class="borde-button">{{ empleado.objetivoEmpleado }}</div>
                <div>Objetivo</div>
              </div>
              <div class="data-content">
                <div class="borde-button">{{ empleado.cargoEmpleado }}</div>
                <div>Cargo</div>
              </div>
              <div class="data-content">
                <div class="borde-button">
                  {{ empleado.codigoPostalEmpleado }}
                </div>
                <div>Codigo Postal</div>
              </div>
              <div class="data-content">
                <div class="borde-button">
                  {{ empleado.fechaNascimentoEmpleado | date : "dd/MM/y" }}
                </div>
                <div class="text-nowrap">Fecha de Nacimento</div>
              </div>
              <div class="data-content">
                <div class="borde-button">{{ empleado.telefonoEmpleado }}</div>
                <div>Telefono Contacto</div>
              </div>
              <div class="data-content">
                <div class="borde-button">{{ empleado.turnoEmpleado }}</div>
                <div>Turno</div>
              </div>
              <div class="data-content">
                <div class="borde-button">{{ empleado.emailEmpleado }}</div>
                <div>E-mail</div>
              </div>
              <div class="data-content">
                <div class="borde-button">{{ empleado.sindicato }}</div>
                <div>Sindicato</div>
              </div>
              
          </div>
        </div>
      </div>
    </div>
    <!-- Operaciones -->
  
    <div
      class="tab-pane"
      id="nav-operaciones"
      role="tabpanel"
      aria-labelledby="nav-operaciones-tab"
      tabindex="1"
    >
      <div class="fondo d-flex justify-content-center col-md-12">
          <app-calendario *ngIf="idEmpleado" [idEmpleado]="idEmpleado"></app-calendario>
      </div>
    </div>
  
    <!-- Indumentaria -->
    <div
      class="tab-pane"
      id="nav-indumentaria"
      role="tabpanel"
      aria-labelledby="nav-indumentaria-tab"
      tabindex="2"
    >
      <div class="contenedorInfo">

        <div class="fondo d-flex justify-content-center">
          <table class="table tablaIndumentaria m-3 p-3">
            <thead class="table-light">
              <tr>
                <th>CODIGO PRODUCTO</th>
                <th>PRODUCTO</th>
                <th>MODELO</th>
                <th>TALLE</th>
                <th>FECHA ULTIMA</th>
                <th>FECHA PROXIMA</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of empleado.indumentaria" >
                <td>{{item.codigo}}</td>
                <td>{{item.nombreIndumentaria}}</td>
                <td>{{item.modeloIndumentaria}}</td>
                <td>{{item.talle}}</td>
                <td>{{item.fechaUltimaEntregaIndumentaria | date : "MM/YY"}}</td>
                <td>{{item.fechaProximaEntregaIndumentaria | date: "MM/YY"}}</td>
              </tr>
              <tr *ngIf="empleado.indumentaria.length == 0" ><td colspan="6">El empleado no tiene indumentaria informada.</td></tr>
            </tbody>
          </table>

        </div>


        <!-- 
      <div class="fondo d-flex justify-content-center">
  
        <div class="contenedorUniformes col-md-8">
          <div class="fechasUniforme col-md-12">
            <span>
              <span>Fecha última entrega</span>
              <span>07/23</span>
            </span>
  
            <span>
              <span>Fecha proxima entrega</span>
              <span>07/24</span>
            </span>
          </div>
          <div class="col-md-6 d-flex">
            <table class="col-md-6 ">
              <thead>
                <tr>
                  <th colspan="2" (click)="openModal('#uniforme1')">
                    {{ uniformesRecibidos.uniformes[0].nombre }}
                  </th>
                </tr>
                <tr>
                  <th>Uniforme 1</th>
                  <th>Talle</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let propiedad of getPropiedades(uniformesRecibidos.uniformes[0])
                  "
                >
                  <td>{{ propiedad[0] }}</td>
                  <td>{{ propiedad[1] }}</td>
                </tr>
              </tbody>
            </table>
            <table class="col-md-6 ">
              <thead>
                <tr>
                  <th colspan="2" (click)="openModal('#uniforme2')">
                    {{ uniformesRecibidos.uniformes[1].nombre }}
                  </th>
                </tr>
                <tr>
                  <th>Uniforme 2</th>
                  <th>Talle</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let propiedad of getPropiedades(uniformesRecibidos.uniformes[0])
                  "
                >
                  <td>{{ propiedad[0] }}</td>
                  <td>{{ propiedad[1] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
      <div
        class="modal fade"
        id="uniforme1"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content" *ngIf="uniformesData">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                {{ uniformesData.uniformes[indexUniforme1].nombre }}
              </h5>
            </div>
            <div class="modal-body text-center">
              <div>
                <ul>
                  <li *ngFor="let item of uniformesData.uniformes[0].items">
                    {{ item }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="closeModal('#uniforme1')"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
      -->
      <div
        class="modal fade"
        id="uniforme2"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content" *ngIf="uniformesData">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                {{ uniformesData.uniformes[indexUniforme2].nombre }}
              </h5>
            </div>
            <div class="modal-body text-center">
              <div>
                <ul>
                  <li *ngFor="let item of uniformesData.uniformes[0].items">
                    {{ item }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="closeModal('#uniforme2')"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  
    <!-- <div
      class="tab-pane "
      id="nav-capacitaciones"
      role="tabpanel"
      aria-labelledby="nav-capacitaciones-tab"
      tabindex="3"
    ></div> -->
  
    <div
      class="tab-pane "
      id="nav-credenciales"
      role="tabpanel"
      aria-labelledby="nav-credenciales-tab"
      tabindex="4"
    >
  
    <div class="container" style="padding-bottom:120px">
      <div class="row d-flex align-items-center m-3" style="justify-content: center;">
  
        <div class="perfil col-lg-9 gy-5" style="display: contents; width: 100%;">
          <div class="habilitaciones contenedorCredenciales">
            <div class="row tituloSeccion">HABILITACIONES</div>
            <div class="contenedorInforCred">
              <div *ngFor="let item of credenciales.habilitaciones" class="data-content">
                <div [class.botonCred]="true" [class]="item.estado" >{{item.estado}}</div>
                <div class="fw-bold">{{item.nombre}}</div>
              </div>
            </div>
           

          </div>
          <div class="agente contenedorCredenciales">
            <div class="row tituloSeccion">AGENTE AEROPORTUARIO</div>
            <div class="contenedorInforCred">
              <div *ngFor="let item of credenciales.agente" class="data-content">
                <div class="borde-button">{{item.fecha}}</div>
                <div>{{item.codigo}}</div>
                <div>{{item.nombre}}</div>
              </div>
            </div>
          </div>

          <div class="vigilador contenedorCredenciales">
            <div class="row tituloSeccion">VIGILADOR</div>
            <div class="row justify-content-center">
              <div class="data-content">
                <div *ngIf="credenciales.numeroCredencial != '#N/A'" class="borde-button credBoton credVerde">{{credenciales.numeroCredencial}}</div>
                <div *ngIf="credenciales.numeroCredencial == '#N/A'" class="borde-button  credBoton credRojo">{{credenciales.numeroCredencial}}</div>
                <div class="fw-bold">CREDENCIAL NRO</div>
              </div>
            </div>
            <div class="contenedorInforCred">
              <div *ngFor="let item of credenciales.vigilador" class="data-content">
                <div class="borde-button">{{item.valor}}</div>
                <div>{{item.nombre}}</div>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  
  
    </div>
  </div>

</div>

<app-footer class="footer"></app-footer>
