.data-content{
    padding: 4px 4px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
  }
  .borde-button{
    border-bottom: 2px solid black;
    height: 28px;
    text-wrap: nowrap;
  }
  
  .foto {
    border-radius: 12px;
  }
  
  .estadoEnpleado{
    padding: 4px 12px;
    border-radius: 4px;
    text-wrap: nowrap;
  }
  .estadoActivo{
    background-color:#72D250 ;
  }
  .estadoNOActivo{
    background-color: #FA3B12;
    color:white;
  }

 
  