<header class="header">
    <nav class="navbar bg-black col-lg-12 col-md-12 col-sm-12">
      <!-- icono o nombre -->
      <div class="contenedorGeneralLogos col-lg-8 col-sm-12">
        <a class="navbar-brand logo" href="http://gruposima.ar/" target="_blank">
          <img src="./assets/img/logo.png" alt="logo" class="img-fluid bg-black" width=" 150" height="">
        </a>
        <div class="contenedorLogos">
          <a href="http://gpssrl.com.ar/" target="_blank"><img src="./assets/img/logo_gps.fw.png" alt="logo" class="img-fluid bg-black" width="40" height=""></a>
          <a href="http://labizantinasg.ar/" target="_blank"><img src="./assets/img/LB1.png" alt="logo" class="img-fluid bg-black" width="40" height=""></a>
          <a href="https://ecoklin.ar/" target="_blank"><img src="./assets/img/ecoklinVerde.png" alt="logo" class="img-fluid bg-black" width="40" height=""></a>
          <a href="http://globalargentina.com.ar/" target="_blank"><img src="./assets/img/logo_global_argentina.fw.png" alt="logo" class="img-fluid bg-black" width="40" height=""></a>
          <a href="#" target="_blank"><img src="./assets/img/Ellipse 113.png" alt="logo" class="img-fluid bg-black" width="40" height=""></a>
        </div>
      </div>

      <div class="botones-menu col-lg-3 col-sm-12">
        <button type="button" class="btn btn-danger m-2" (click)="main()">MAIN</button>
        <a class="btn btn-danger m-2 " (click)="navigateToDestination('/login')" >LOGOUT</a>
      </div>
      
      <!-- boton Login
      <button type="button" class="btn btn-danger">cerrar sesion </button> -->
    </nav>
</header>
