<div class="contenedorContador">
    <div class="contadorEstadistica col-lg-12 col-sm-12">
        <div  *ngFor="let item of lista" class="col-sm-2">
            <div class="itemContador">
                <h6>{{item.titulo}}</h6>
                <span>{{item.descrip}}</span>
                <div class="boxCont">
                   <a *ngIf="item.url != undefined else sinLink" style="color:blue;cursor:pointer;" (click)="navigateToEmpleados(item)"><span>{{item.cant}}</span></a>
                   <ng-template #sinLink><span>{{item.cant}}</span></ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
