<div class="contenedorContador">
    <div class="contadorEstadistica">
        <div  *ngFor="let item of lista">
            <div class="itemContador">
                <h5>{{item.titulo}}</h5>
                <span>{{item.descrip}}</span>
                <div class="boxCont">
                   <a *ngIf="item.url else sinLink" href="{{item.url}}"><span>{{item.cant}}</span></a>
                   <ng-template #sinLink><span>{{item.cant}}</span></ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
