<div>
    <div *ngIf="!esAdmin">
    <app-header></app-header>
    <app-separador [urlImg]="urlImagen" ></app-separador> 
    </div>
    <span class="etiqueta fondoRojo">INFO</span>
    <div class="contenedorTabla">
        <table class="tablaBolsa">
            <tr>
                <th>EMPRESA</th>
                <th role="button" (click)="ordenColumna('codigo')" >CODIGO</th>
                <th role="button" (click)="ordenColumna('titulo')" >DESCRIPCION</th>
                <th role="button" (click)="ordenColumna('zona')">ZONA</th>
                <th>POSTULARSE</th>
            </tr>
            <tr *ngFor="let item of lista">
                <td><img src="{{getLogo(item.gerencia)}}" width="45px" alt=""></td>
                <td>{{item.codigo}}</td>
                <td>{{item.titulo}}</td>
                <td>{{item.zona}}</td>
                <td><a (click)="navigateToDestination('/oferta/' + item.id)" ><img src="{{urlImagenPostu}}" alt=""></a></td>
            </tr>
    
        </table>
    </div>
    <app-footer class="footer"></app-footer>
</div>