<div>
    <app-header></app-header>
    <app-titulero></app-titulero>
    <app-separador [urlImg]="urlImagen" ></app-separador>
    <span class="etiqueta fondoRojo">INFO</span>
    <div class="contenedorTabla">
        <table class="tablaBolsa">
            <tr>
                <th>EMPRESA</th>
                <th>CODIGO</th>
                <th>DESCRIPCION</th>
                <th>ZONA</th>
                <th>POSTULARSE</th>
            </tr>
            <tr *ngFor="let item of lista">
                <td><img src="{{item.img}}" width="45px" alt=""></td>
                <td>{{item.codigo}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.zona}}</td>
                <td><a href="{{item.url}}"><img src="{{urlImagenPostu}}" alt=""></a></td>
            </tr>
    
        </table>
    </div>

    <div *ngIf="esAdmin" class="contenedorImportacion">
        <div class="barraImportacion">
            <div class="boxImport">
                <div>
                    <label for="file-bolsa"><img src="./assets/img/up.png" alt="" > </label>
                    <input id="file-bolsa" class="inputFile" type="file" (change)="onFileChange($event)" />
                </div>
                <div>
                    <h5>Carga Oferta de empleo</h5>
                    <span>semanal</span>
                </div>
            </div>
        </div>
    </div>
    <app-footer class="footer"></app-footer>
</div>