<div>
    <h3>SUMINISTROS</h3>
    <span class="etiqueta fondoRojo">INFO</span>

    <div class="contenedorGeneral ">
        <div class="contenedorInfo d-flex" style="gap:1rem ;  flex-direction: column; align-items: center;">
            <app-contador [lista]="totales "></app-contador>
            <div *ngIf="objeto" style="width: 1000px; height:400px" >
                <app-bar-chart id="graficoAnual"  [objeto]="objeto" style="margin:12px"></app-bar-chart>
            </div>
           
        </div>
    </div>
    <app-footer class="footer"></app-footer>

</div>
