.contenedorMenuesSuperior{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contenedorMenus{
    display: grid;
    width: min-content;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    align-content: start;
    margin-bottom: 50px;
    margin-top: -28px;
}
.tituloAcceso ::first-line{
    color:black !important;
}
.completarRow{
    background: white;
}
.contSumiSis{
    display: flex;
    flex-direction: column;
    gap: 6px;
}