<div *ngIf="grilla" class="cotenenedorCalendario col-lg-12"> 
    <div class="d-flex contenedordatabox justify-content-center col-lg-12">
        <div class="data-content">
            <div class="borde-button">
              <span *ngIf="diasTrabajados" >{{ getTurnos() }}</span>
            </div>
            <div>Turno</div>
          </div>
          <div class="data-content">
            <div class="borde-button">
                {{ diasTrabajados ? diasTrabajados.length : 0}}
            </div>
            <div>Dias trabajados</div>
          </div>
          <div class="data-content">
            <div class="borde-button">
              {{ diasTrabajados ? getCantidadHoras(diasTrabajados) : 0}}
            </div>
            <div>Horas</div>
          </div>
    </div>
    <div class="contenedordatabox">
        <span class="tituloSeccion">OBSERVACIONES</span>
        <div class="data-content ">
            <div class="">
            </div>
          </div>
    </div>
    <div class="wrapper-calendar">
        <div class="header-calendar">
            <div>
                <button (click)="changeMonth(-1)" class="btn-prev">Antes</button>
            </div>
            <h1>{{dateSelect.format("MMMM YYYY")}}</h1>
            <div>
                <button (click)="changeMonth(1)" class="btn-next">Siguiente</button>
            </div>
        </div>
        <ol>
            <li *ngFor="let day of week" class="day-name">{{day | slice:0:3}}</li>

            <li (click)="clickDay(day , day?.estado , day?.horas)" [style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
            *ngFor="let day of monthSelect;let first = first" >
                <ng-template #diaSinData><span>{{day?.value}}</span></ng-template>
                <span *ngIf="day?.estado ; else diaSinData" [ngClass]="esDiaTrabajado(day) ? 'marcaVerde' : 'marcaAzul'  " title="{{day?.estado}}">{{day?.value}}</span>
            </li>
        </ol>
    </div>

    <hr>
    <div>
        Fecha: {{dateValue | date}} <span *ngIf="estadoVisible"> | Estado : {{estadoVisible}} </span> <span *ngIf="horasVisible"> | Horas : {{horasVisible}}</span>
    </div>
</div>