<div>
    <app-header></app-header>
    <app-titulero [indice]="1"></app-titulero>
    <app-separador [urlImg]="urlImagen" ></app-separador>
    <h3>CREDENCIALES</h3>
    <span class="etiqueta fondoRojo">CRED</span>
    <span class="etiqueta fondoRojo">AEP</span>
    <span class="etiqueta fondoRojo">EZE</span>

    <!-- {{obsProvGlobalFisica | async}} -->

        <div class="contenedorInformacion">
            <div class="subContenedor" *ngIf="obs1 | async as array">

                <div class=" d-flex " >
                    <table class="tablaCrendial">
                        <tr>
                            <th class="text-left bg-white text-dark text-center primeraCol">CABA</th>
                            <th colspan="3" class="text-left">NOTA MINISTERIO</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>TOTAL</th>
                            <th>APTO</th>
                            <th>VENC.</th>
                            <th>VENC A 3 MESES</th>
                        </tr>
                        <tr>
                                <td>GLOBAL</td>
                                <td><span class="bg-white">{{getTotal(array[0])}}</span></td>
                                <td><span class="backVerde">{{array[0][0]}}</span></td>
                                <td><span class="backDorado">{{array[0][1]}}</span></td>
                                <td><span class="backAmarillo">{{array[0][2]}}</span></td>
                        </tr>
                        <tr >
                            <td>EDENOR</td>
                            <td><span class="bg-white">{{getTotal(array[1])}}</span></td>
                            <td><span class="backVerde">{{array[1][0]}}</span></td>
                            <td><span class="backDorado">{{array[1][1]}}</span></td>
                            <td><span class="backAmarillo">{{array[1][2]}}</span></td>
                    </tr>
                    </table>
                    

                    <table class="tablaCrendial">
                        <tr>
                            <th></th>
                            <th colspan="3" class="text-left">CREDENCIAL FISICA</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>TOTAL</th>
                            <th>APTO</th>
                            <th>VENC.</th>
                            <th>VENC A 3 MESES</th>
                        </tr>
                        <tr >
                                <td></td>
                                <td><span class="bg-white">{{getTotal(array[2])}}</span></td>
                                <td><span class="backVerde">{{array[2][0]}}</span></td>
                                <td><span class="backDorado">{{array[2][1]}}</span></td>
                                <td><span class="backAmarillo">{{array[2][2]}}</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="bg-white">{{getTotal(array[3])}}</span></td>
                            <td><span class="backVerde">{{array[3][0]}}</span></td>
                            <td><span class="backDorado">{{array[3][1]}}</span></td>
                            <td><span class="backAmarillo">{{array[3][2]}}</span></td>
                    </tr>
                    </table>
                </div>


                <div class=" d-flex ">
                    <table class="tablaCrendial">
                        <tr>
                            <th class="text-left bg-white text-dark text-center primeraCol" >PROVINCIA</th>
                            <th ></th>
                            <th></th>
                            <th></th>
                            <th class="hiddentext">VENC A 3 MESES</th>
                        </tr>
                        
                        <tr>
                                <td>GLOBAL</td>
                                <td><span class="bg-white">{{getTotal(array[4])}}</span></td>
                                <td><span class="backVerde">{{array[4][0]}}</span></td>
                                <td><span class="backDorado">{{array[4][1]}}</span></td>
                                <td><span class="backAmarillo">{{array[4][2]}}</span></td>
                        </tr>
                        <tr >
                            <td>EDENOR</td>
                            <td><span class="bg-white">{{getTotal(array[5])}}</span></td>
                            <td><span class="backVerde">{{array[5][0]}}</span></td>
                            <td><span class="backDorado">{{array[5][1]}}</span></td>
                            <td><span class="backAmarillo">{{array[5][2]}}</span></td>
                    </tr>
                    </table>
                    

                    <table class="tablaCrendial">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="hiddentext">VENC A 3 MESES</th>
                        </tr>
                        <tr>
                                <td></td>
                                <td><span class="bg-white">{{getTotal(array[6])}}</span></td>
                                <td><span class="backVerde">{{array[6][0]}}</span></td>
                                <td><span class="backDorado">{{array[6][1]}}</span></td>
                                <td><span class="backAmarillo">{{array[6][2]}}</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span class="bg-white">{{getTotal(array[7])}}</span></td>
                            <td><span class="backVerde">{{array[7][0]}}</span></td>
                            <td><span class="backDorado">{{array[7][1]}}</span></td>
                            <td><span class="backAmarillo">{{array[7][2]}}</span></td>
                    </tr>
                    </table>
                </div>
                <div class="seccion-titulos">
                    <div class="columna "></div>
                    <div class="columna columna-ancha">AEROPARQUE</div>
                    <div class="columna columna-ancha">EZEIZA</div>
                  </div>
                <div class=" d-flex ">
                    <table class="tablaCrendial">
                        <tr>
                            <th class="primeraCol"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="hiddentext">VENC A 3 MESES</th>
                        </tr>
                        <tr>
                                <td>AEROPUERTOS</td>
                                <td><span class="bg-white">{{getTotal(array[8])}}</span></td>
                                <td><span class="backVerde">{{array[8][0]}}</span></td>
                                <td><span class="backDorado">{{array[8][1]}}</span></td>
                                <td><span class="backAmarillo">{{array[8][2]}}</span></td>
                        </tr>
                        
                    </table>
                    <table class="tablaCrendial">
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="hiddentext">VENC A 3 MESES</th>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td><span class="bg-white">{{getTotal(array[9])}}</span></td>
                            <td><span class="backVerde">{{array[9][0]}}</span></td>
                            <td><span class="backDorado">{{array[9][1]}}</span></td>
                            <td><span class="backAmarillo">{{array[9][2]}}</span></td>
                    </tr>
                    </table>

                </div>
            </div>
        </div>

        <div class="contenedorImportacion">
            <div class="barraImportacion">
                <div class="boxImport">
                    <div>
                        <label for="file-nomina"><img src="./assets/img/up.png" alt="" > </label>
                        <input id="file-nomina" class="inputFile" type="file" (change)="onFileChange($event)" />
                    </div>
                    <div>
                        <h5>CREDENCIALES</h5>
                        <span>Reporte semanal</span>
                    </div>
                </div>
                
                <div class="infoImportador">
                    <span>Opcion de carga de información</span>
                    <span>Responsable: CREDENCIALES</span>
                </div>
            </div>
        </div>
     
    <app-footer class="footer"></app-footer>
</div>