.contenedorInformacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subContenedor{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 200px;
}
.tablaCrendial{
    color: white;
    text-align: center;
}
.primeraCol{
    width: 150px;
}

.tablaCrendial th{
    border: 12px solid #11354F;;
}
.tablaCrendial td{
    border: 12px solid #11354F;;
}

.tablaCrendial td span{
    color:black;
    font-weight: bolder;
    padding: 4px 14px;
    display: inline-block;
    width: 80px; /* Establece el ancho mínimo según tus necesidades */
    text-align: center;
    border: 12px solid #11354F;;
}

.backVerde{
    background-color: #57E576;
}
.backDorado{
    background-color: #F7B408;
}
.backAmarillo{
    background-color: #FFF72C;
}

.hiddentext{
    visibility: hidden;
}

.seccion-titulos {
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-weight: bolder;
  }
  
  .columna {
    text-align: center;
    padding: 4px;
  }
  
  .columna-ancha {
    flex: 2; 
  }

