<div>
    <h3>RRHH</h3>
    <span class="etiqueta fondoRojo">INFO</span>
    <div class="contenedorInformacion col-lg-12 col-sm-12 m-3">
        <div class="col-lg-10 col-sm-12">
            <span class="tituloBlanco">Por Empresa</span>
            <app-contador [lista]="cantidadPorEmpresa | async"></app-contador>
            <span class="tituloBlanco">Por Gerencia</span>
            <app-contador [lista]="cantidadPorGerencia$ | async" (enviarGerencia)="enviarGerenciaAEmpleado($event)"></app-contador>
            <span class="tituloBlanco">Por Sindicato</span>
            <app-contador [lista]="cantidadPorSindicato | async"></app-contador>
        </div>
    </div>
    <app-footer class="footer"></app-footer>
</div>
