<div>
    <app-header></app-header>
    <app-titulero></app-titulero>
    <app-separador [urlImg]="urlImagen" ></app-separador>
    <h3>RRHH</h3>
    <span class="etiqueta fondoRojo">INFO</span>
    <app-contador></app-contador>
    <div class="contenedorImportacion">
        <div class="barraImportacion">
            <div class="boxImport">
                <img src="./assets/img/up.png" alt="" >
                <div>
                    <h5>NOMINA ACTIVA</h5>
                    <span>Reporte semanal</span>
                </div>
            </div>
            <div class="boxImport">
                <img src="./assets/img/up.png" alt="" >
                <div >
                    <h5>BOLSA DE TRABAJO</h5>
                    <span>Vacante Disponible</span>
                </div>
            </div>
            <div class="infoImportador">
                <span>Opcion de carga de información</span>
                <span>Responsable: RRHH</span>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>
