<div>
    <app-header></app-header>
    <app-titulero></app-titulero>
    <app-separador [urlImg]="urlImagen" ></app-separador>
    <h3>RRHH</h3>
    <span class="etiqueta fondoRojo">INFO</span>
    <app-contador></app-contador>
    <div class="contenedorImportacion">
        <div class="barraImportacion">
            <div class="boxImport">
                <div>
                    <label for="file-nomina"><img src="./assets/img/up.png" alt="" > </label>
                    <input id="file-nomina" class="inputFile" type="file" (change)="onFileChange($event)" />
                </div>
                <div>
                    <h5>NOMINA ACTIVA</h5>
                    <span>Reporte semanal</span>
                </div>
                <dir>
                    <select class="form-select" name="empresa" id="empresaSelect" (change)="subirArchivoNomina()">
                        <option selected value="">Por favor seleccione la empresa.</option>
                        <option value="0">Grupo Sima</option>
                        <option value="1">La Bizantina</option>
                        <option value="2">GPS</option>
                        <option value="3">Global</option>
                        <option value="4">Ecoklin</option>
                    </select>
                </dir>
            </div>
            <div class="boxImport">
                <img src="./assets/img/up.png" alt="" >
                <div >
                    <h5>BOLSA DE TRABAJO</h5>
                    <span>Vacante Disponible</span>
                </div>
            </div>
            <div class="infoImportador">
                <span>Opcion de carga de información</span>
                <span>Responsable: RRHH</span>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>
