<div>
    <app-header></app-header>
    <app-titulero [indice]="5"></app-titulero>
    <app-separador [urlImg]="urlImagen" ></app-separador>
    <div class="contenedorGeneral">
      <div class="col-md-12 d-flex justify-content-center align-items-center " style="flex-direction: column;gap: 1rem;">
        <div class="col-md-10">
            <button
                type="button"
                class="btn btn-primary"
                (click)="editarUsuario(0)"
              >
                Nuevo
              </button> 
        </div>
        <div class="col-md-10">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Role</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of usuarios ">

                        <td>{{item.nombreUsuario}}</td>
                        <td>{{item.roles[0].name}}</td>
                        <td>{{item.correoUsuario || ''}}</td>
                        <td><a (click)="editarUsuario(item.idUsuario)"><fa-icon [icon]="faPencil"></fa-icon></a></td>
                    </tr>
                </tbody>


        
            </table>
        </div>
    </div>
    </div>
    
    <div
        class="modal fade"
        id="modalEditarUsuario"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" >
                <ng-template *ngIf="usuarioEditable == 0 ; else edicion">Nuevo Usuario</ng-template>
                <ng-template #edicion> Editar usuario</ng-template>
            </h5>
            </div>
            <div class="modal-body">
                <form  autocomplete="off">
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Usuario</span>
                        <input type="text" id="usuario" [(ngModel)]="usuarioEditable.username" name="usuario" class="form-control" placeholder="Usuario" aria-label="Usuario" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Contraseña</span>
                        <input type="password"  id="contrasena" name="contrasena" [(ngModel)]="usuarioEditable.password" class="form-control" placeholder="Contraseña" name="contrasena" >
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" >Correo</span>
                        <input type="text" id="correo" name="correo" [(ngModel)]="usuarioEditable.email" class="form-control" placeholder="Correo" aria-label="Correo" >
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="rol">Rol</label>
                        <select class="form-select" id="rol" name="rol" [(ngModel)]="usuarioEditable.role">
                        <option value="ROLE_USER">ROLE_USER</option>
                        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                        <option value="ROLE_MODERATOR">ROLE_MODERATOR</option>
                        </select>
                    </div>
                    <input type="hidden" [(ngModel)] = 'usuarioEditable.id' name="idUsuario" />
                </form>
            </div> 
            <div class="modal-footer">
               <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="cerrarModal()"
              >
                Cerrar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="guardarUsuario()"
              >
                Guardar
              </button> 
            </div>
          </div>
        </div>
      </div>

      <app-footer class="footer"></app-footer>
</div>