@media ( max-width:796px){
    .contenedorInfo{
        flex-direction: column;
        gap: 4rem !important;
        margin-bottom: 200px !important;
    }
    #barras{
        width: 350px !important;
    }
    #torta{
        width: 350px !important;
    }
}