<div>
    <app-header></app-header>
    <app-titulero [indice]="2"></app-titulero>
    <app-titulero [indice]="0"  [tititulosExternos] = "subtitulos"></app-titulero>
    <app-separador [urlImg]="urlImagen" ></app-separador>
    <h3>DPA</h3>
    <span class="etiqueta fondoRojo">PARQUE</span>
    <div style="width: 400px;">
        <app-bar-chart></app-bar-chart>


    </div>
    
   
    
    <div class="contenedorImportacion">
        <div class="barraImportacion">
            <div class="boxImport">
                <div>
                    <label for="file-parque"><img src="./assets/img/up.png" alt="" > </label>
                    <input id="file-parque" class="inputFile" type="file" (change)="onFileChange($event)" />
                </div>
                <div>
                    <h5>PARQUE AUTOMOTOR</h5>
                    <span>Reporte semanal</span>
                </div>
            </div>
            <div class="boxImport">
                <div>
                    <label for="file-infracciones"><img src="./assets/img/up.png" alt="" > </label>
                    <input id="file-infracciones" class="inputFile" type="file" (change)="onFileChange($event)" />
                </div>
                <div >
                    <h5>INFRACCIONES</h5>
                    <span>Reporte semanal</span>
                </div>
            </div>
            <div class="infoImportador">
                <span>Opcion de carga de información</span>
                <span>Responsable: DPA</span>
            </div>
        </div>
    </div>
    
    <app-footer class="footer"></app-footer>
</div>
