<div>
    <app-header></app-header>
    <app-titulero [indice]="2"></app-titulero>
    <app-titulero [indice]="0"  [tititulosExternos] = "subtitulos"></app-titulero>
    <app-separador [urlImg]="urlImagen" ></app-separador>
    <h3>DPA</h3>
    <span class="etiqueta fondoRojo">PARQUE</span>

    <div class="contenedorGeneral d-flex justify-content-center col-lg-12 col-sm-12">
        <div class="contenedorInfo d-flex col-lg-6 col-sm-12" style="gap:1rem ; margin:12px ;justify-content: space-between;">
            <div id="barras" *ngIf="objeto"  class="col-lg-6 col-sm-10" style="width: 400px;height:400px">
                <div style="width: 100%;text-align:right;"><span style="background-color: white; padding:2px ; border:1px solid black ">Total : {{getSumaTotal(objeto) | currency:'ARS':'symbol':'4.2-2'}}</span></div>
                <app-bar-chart  [objeto]="objeto" style="margin:12px"></app-bar-chart>
            </div>
            <div id="torta" *ngIf="objeto2" class="col-lg-6 col-sm-10" style="width: 400px;">
                <div style="width: 100%;text-align:right; "><span style="background-color: white; padding:2px ; border:1px solid black">Total Activos : {{getSumaTotal(objeto2)}}</span></div>
                <app-bar-chart  [objeto]="objeto2" style="margin:12px"></app-bar-chart>
            </div>
        </div>
    </div>

    
    
   
    
    <div class="contenedorImportacion">
        <div class="barraImportacion">
            <div class="boxImport">
                <div>
                    <label for="file-parque"><img src="./assets/img/up.png" alt="" > </label>
                    <input id="file-parque" class="inputFile" type="file" (change)="onFileChange($event)" />
                </div>
                <div>
                    <h6>PARQUE AUTOMOTOR</h6>
                    <span>Reporte semanal</span>
                </div>
            </div>
            <div class="boxImport">
                <div>
                    <label for="file-infracciones"><img src="./assets/img/up.png" alt="" > </label>
                    <input id="file-infracciones" class="inputFile" type="file" (change)="onFileChange($event)" />
                </div>
                <div >
                    <h6>INFRACCIONES</h6>
                    <span>Reporte semanal</span>
                </div>
            </div>
            <div class="infoImportador">
                <span>Opcion de carga de información</span>
                <span>Responsable: DPA</span>
            </div>
        </div>
    </div>
    
    <app-footer class="footer"></app-footer>
</div>
