<section class="cuerpo1">
    <div class="container card">

        <div class="row m-1">
            <div class="d-flex col-lg-12">
                <div class="col-lg-8 ">
                    <h4>Buscar Empleado</h4>
                </div>
                <div class="col-lg-4 d-flex justify-content-end">
                    <a class="navbar-brand">
                        <img src="../../../assets/img/gpsNegro.png" alt="GPS" class="img-fluid bg-black rounded-circle"
                            width=" 60" height="">
                    </a>
                </div>
            </div>
            <button type="button" class="btn btn-dark col-lg-2" routerLink="/nuevoempleado">
                Agregar Empleado
            </button>
        </div>

        <div class="row encabezado d-flex justify-content-center p-2">
            <div class="col-lg-10">
                <form novalidate #f="ngForm" (ngSubmit)="onBuscar()">
                    <div class="row">
                        <div class="col-lg-7">
                            <label for="name"  class="form-label">Empleado</label>
                            <input type="text" class="form-control" id="name" name="name"
                                placeholder="Ingrese dni nombre o apellido." [(ngModel)]='textoDeInput' required>
                        </div>
                        <div class="col-lg-3">
                            <label for="gerencia" class="form-label">Gerencia</label>
                            <select id="gerencia" class="form-control" [(ngModel)]="gerencia" >
                                <option *ngFor="let item of filtroGerencia" value="{{item.value}}">{{item.vista}}</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <label for="objetivo"  class="form-label">Objetivo</label>
                            <input type="text" class="form-control" id="objetivo" name="objetivo"
                                placeholder="Ingrese el objetivo" [(ngModel)]='objetivo'>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex col-lg-2 ml-0">
                            <button type="submit" class="btn btn-primary mb-3" value="Buscar">Buscar</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <app-pagination class="d-flex justify-content-end" *ngIf="alldata" (enviarPagina)="recibirPagina($event)" [totalPages]="alldata.totalPages" [size]="alldata.size"></app-pagination>
            
            <table *ngIf="!esMovil ; else tablaMovil" class=" card table table-secondary table-hover p-4">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col" >Fotografia</th>
                            <th scope="col" role="button" (click)="ordenColumna('legajoEmpleado')">Legajo</th>
                            <th scope="col" role="button" (click)="ordenColumna('apellidoEmpleado')">Apellido, Nombre</th>
                            <th scope="col" role="button" (click)="ordenColumna('estadoEmpleado')">Estado</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let empleadosgps of empleado" class="text-center">
                            <td class="employee-photo">
                                <div class="photo-container">
                                    <img src="{{empleadosgps.foto}}" (error)="setImagenDefualt(empleadosgps)" alt="GPS"
                                        class="img-fluid photo-img">
                                </div>
                            </td>
                            <td>{{empleadosgps.legajoEmpleado}}</td>
                            <td>{{empleadosgps.apellidoEmpleado}}, {{empleadosgps.nombreEmpleado}}</td>
                            <td>{{empleadosgps.estadoEmpleado}}</td>
                            <td>
                                <button (click)="borrar(empleadosgps.idEmpleado)"
                                    class="btn btn-warning">Borrar</button>
                                <button class="btn btn-success"
                                    routerLink="/informacionempleado/{{empleadosgps.idEmpleado}}"
                                    style="margin-left: 10px;">Ver</button>
                                <button class="btn btn-danger" routerLink="/editempleado/{{empleadosgps.idEmpleado}}"
                                    style="margin-left: 10px;">Modificar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </table>

            <ng-template #tablaMovil>
                <table class=" card table table-secondary table-hover p-4">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-center">
                                <th scope="col" >Fotografia</th>
                                <th scope="col" role="button" (click)="ordenColumna('apellidoEmpleado')">Apellido, Nombre</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let empleadosgps of empleado" class="text-center">
                                <td class="employee-photo">
                                    <div class="photo-container">
                                        <img src="{{empleadosgps.foto}}" (error)="setImagenDefualt(empleadosgps)" alt="GPS"
                                            class="img-fluid photo-img">
                                    </div>
                                </td>
                                <td>{{empleadosgps.apellidoEmpleado}}, {{empleadosgps.nombreEmpleado}}</td>
                                <td>
                                    <!-- <button (click)="borrar(empleadosgps.idEmpleado)"
                                        class="btn btn-warning">Borrar</button> -->
                                    <button class="btn btn-success"
                                        routerLink="/informacionempleado/{{empleadosgps.idEmpleado}}"
                                        style="margin-left: 10px;">Ver</button>
                                    <!-- <button class="btn btn-danger" routerLink="/editempleado/{{empleadosgps.idEmpleado}}"
                                        style="margin-left: 10px;">Modificar</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </table>

            </ng-template>
        </div>
    </div>
</section>
<app-footer class="footer"></app-footer>