/* styles.css */
@import 'ngx-toastr/toastr';

html, body {
  height: 100%;
  margin: 0;
  background: #11354F;
}
h2 , h3{
  color: white;
  margin: 0 12px
}
body {
  display: flex;
  flex-direction: column;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.separadorContenedor{
  width: 100%;
}

.etiqueta{
  border-radius: 12px;
  border-color: transparent;
  padding: 2px 16px;
  margin: 4px 12px;
  cursor: pointer;
}
.fondoRojo{
  color:white;
  background-color: red;
}
.inputFile{
  display: none;
}

.tituloBlanco{
  color: white;
  padding: 8px 0;
  font-size: 1.5rem;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contenedorImportacion{
  position: fixed;
  bottom: 58px;
  width: 98%;
  margin: 0 1%;
}

#toast-container{
  margin-top: 60px;
}

.text-left{
  text-align: left;
}

app-root {
  flex: 1;
}

