<div>
    <!-- <app-header></app-header>
    <app-titulero [indice]="3"></app-titulero>
    <app-titulero [indice]="2"  [tititulosExternos] = "subtitulos"></app-titulero>
    <app-separador [urlImg]="urlImagen" ></app-separador> -->
    <h3>INVENTARIO DE EQUIPAMIENTOS</h3>
    <span class="etiqueta fondoRojo">INFO</span>

    <div class="contenedorGeneral d-flex justify-content-center">
        <div class="contenedorInfo d-flex" style="gap:1rem ;  flex-direction: column;">
            <div *ngFor="let item of objeto; let i = index" class="d-flex" style="gap:1rem">
                <div *ngFor="let sub of item; let j = index">
                    <div class="itemContador">
                        <div *ngIf="i==0 || j==0" class="boxCont">
                            <span>{{sub}}</span>
                         </div>

                        <div *ngIf="i!=0 && j!=0" class="boxCont bg-white">
                           <span>{{sub}}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="contenedorImportacion">
        <div class="barraImportacion">
            <div class="boxImport">
                <div>
                    <label for="file-1"><img src="./assets/img/up.png" alt="" > </label>
                    <input id="file-1" class="inputFile" type="file" (change)="onFileChange($event)" />
                </div>
                <div>
                    <h6>SEGURIDAD</h6>
                    <span>Reporte semanal</span>
                </div>
            </div>
             <div class="boxImport">
                <div>
                    <label for="file-2"><img src="./assets/img/up.png" alt="" > </label>
                    <input id="file-2" class="inputFile" type="file" (change)="onFileChange($event)" />
                </div>
                <div >
                    <h5>PERIFERICOS</h5>
                    <span>Reporte semanal</span>
                </div>
            </div> 
            <div class="infoImportador">
                <span>Opcion de carga de información</span>
                <span>Responsable: RRHH</span>
            </div>
        </div>
    </div> -->
    
    <app-footer class="footer"></app-footer>

</div>
