<div>
    <h3>INVENTARIO DE EQUIPAMIENTOS</h3>
    <span class="etiqueta fondoRojo">INFO</span>

    <div class="contenedorGeneral d-flex justify-content-center">
        <div class="contenedorInfo d-flex" style="gap:1rem ;  flex-direction: column;">
            <div *ngFor="let item of objeto; let i = index" class="d-flex" style="gap:1rem">
                <div *ngFor="let sub of item; let j = index">
                    <div class="itemContador">
                        <div *ngIf="i==0 || j==0" class="boxCont">
                            <span>{{sub}}</span>
                         </div>

                        <div *ngIf="i!=0 && j!=0" class="boxCont bg-white">
                           <span>{{sub}}</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer class="footer"></app-footer>

</div>
